[gcode_macro LOAD_FILAMENT]
gcode:
  M83 #set extruder to relative
  G1 X125 Y50 Z80 #move to service position
  G1 E30 F300 #load
  G1 E15 F150 #Prime nozzle
  M82 #back to absolute extruder mode

[gcode_macro PURGE_FILAMENT]
gcode:
  M83 #set extruder to relative
  G1 X125 Y50 Z80 #move to service position
  G1 E25 F150 #Prime nozzle
  M82 #back to absolute extruder mode

  # printer.cfg

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}